beautifulsoup4==4.9.3
brotlipy==0.7.0
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
courlan==0.2.3
cryptography==3.2.1
cssselect==1.1.0
filelock==3.0.12
htmldate==0.7.2
idna==2.10
jusText==2.2.0
lxml==4.6.2
pip==20.3
pycparser==2.20
pyOpenSSL==20.0.0
PySocks==1.7.1
python-dateutil==2.8.1
readability-lxml==0.8.1
requests==2.25.0
requests-file==1.5.1
setuptools==50.3.2
six==1.15.0
soupsieve==2.0.1
tldextract==3.1.0
trafilatura==0.6.1
urllib3==1.26.2
wheel==0.36.0
