.Results {
  > span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > .SearchForm {
      align-items: center;
      display: flex;
      padding: 16px;

      > form {
        height: 28px;
      }

      img {
        height: 32px;
        margin-right: 16px;
      }
    }

    > button {
      cursor: pointer;
      height: 28px;
      margin-top: 20px;
      margin-right: 30px;
    }
  }

  &-list {
    list-style: none;
    padding: 0 28px;

    :not(:last-of-type) {
      p {
        margin-bottom: 20px;
      }
    }

    > li {
      display: flex;
      flex-direction: row;

      .Results-item {
        > a {
          text-decoration: none;

          > p {
            color: rgba(0, 0, 0, 0.75);
            margin: 0;
          }

          > h4 {
            color: #3f7fbf;
            font-size: 20px;
            margin: 0;
          }
        }

        > p {
          font-size: 18px;
        }
      }
    }
  }

  &-arrows {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

    > i {
      cursor: pointer;
      font-size: 20px;
      font-style: normal;
      font-weight: bold;
      height: 20px;
    }

    &_up {
      &:hover,
      &_pressed {
        color: green;
      }
    }

    &_down {
      &:hover,
      &_pressed {
        color: red;
      }
    }
  }

  &-content {
    margin: 0;
  }
}
